body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

.MuiButton-root.MuiButton-contained {
  background: linear-gradient(270deg, #1a73e8 0%, #498af4 100%);
}

.MuiButton-root.MuiButtonBase-root {
  text-transform: unset;
}
